.header{
    background-color: #48d3a9;
    padding: 10px 20px;
    text-align: center;
    justify-content: space-between;
   align-items: center;
    color: #333;
    margin :5px;
    width: 50%;
}
.btn{
    background-color:yellow;
}